.container {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  color: #005999;
  height: 75px;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}

.hamburger {
  display: block;
  flex-shrink: 0;
  cursor: pointer;
  font-size: xx-large;
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 74px;
  right: 0;
  transform: translateX(100%);
  width: 250px;
  height: auto;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuList li {
  padding: 20px;
}

.menuList li a {
  text-decoration: none;
  color: #005999;
  font-size: 16px;
}

@media (max-width: 768px) {
  .container {
    position: fixed;
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .nav {
    display: flex;
  }

  .nav.active {
    transform: translateX(0);
    box-shadow: -4px 8px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .menuList {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav.desktop {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: none;
  }

  .menuList {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .menuList li {
    padding: 10px;
    border-radius: 3px;
  }

  .menuList li:hover {
    background-color: #005999;
  }

  .menuList li:hover a {
    color: #fff;
  }

  .menuList li a {
    text-decoration: none;
    color: #005999;
    font-size: 18px;
  }
}
