.contentWrapper {
  margin: 50px;
  color: #005999;
}

.contentWrapper h1 {
  text-align: center;
  margin-bottom: 50px;
}

.contentWrapper h2 {
  margin-bottom: 10px;
}

.contentWrapper p {
  margin-bottom: 50px;
}

.productIntro,
.productAnnounce {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.colsSplit {
  display: flex;
  margin-bottom: 50px;
  background-color: #f0f8ff;
  padding: 50px 0;
  border-radius: 5px;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.1);
}

.stack {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #f0f8ff;
  padding: 50px 0;
  border-radius: 5px;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.1);
}

.col1 {
  flex: 2;
  align-content: center;
  padding-left: 50px;
}

.col2 {
  align-content: center;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 25px;
}

.iconGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.iconGroup2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 75px;
}

.productAnnounce {
  text-align: center;
}

.icons,
.iconsGear {
  font-size: 100px;
}

.iconsGear {
  animation: rotateGear 15s linear infinite;
}

@keyframes rotateGear {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees (one full rotation) */
  }
}

.icons:hover {
  transform: scale(1.25);
}

@media (max-width: 768px) {
  .contentWrapper {
    margin: 15px 5px;
  }

  .productIntro,
  .productAnnounce {
    margin-bottom: 15px;
  }

  .colsSplit {
    padding: 15px 0;
    display: block;
  }

  .stack {
    padding: 15px 0;
  }

  .col1 {
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
  }

  .col2 {
    padding: 15px;
    margin-bottom: 15px;
  }

  .icons,
  .iconsGear {
    font-size: 50px;
  }

  .iconGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .iconGroup2 {
    gap: 20px;
  }
}
