.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.button a {
  padding: 10px 20px;
  background-color: #005999;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button a:hover {
  background-color: #0068b3;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .button a {
    text-align: center;
  }
}
