.titleContainer {
  display: flex;
  justify-content: center;
}

.title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper h1 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
  color: #005999;
}

.contentWrapper h2 {
  color: #005999;
  margin-bottom: 10px;
}

.contentWrapper p,
.contentWrapper li {
    font-size: 20px;
    line-height: 2rem;
    color: black;
    margin-bottom: 10px;
}

.contentWrapper p {
  margin-bottom: 0px;
}

.contentWrapper article ul {
  padding-left: 50px;
}

.contentWrapper article {
  padding-top: 40px;
}

.contentWrapper article section {
  padding-bottom: 20px;
}

.contentWrapper article section p {
  padding-bottom: 0px;
}

.sliderContainer {
  display: flex;
  justify-content: center;
}

.sliderContainer p {
  font-size: 12px;
  line-height: 1.25rem;
}

.mobile {
  display: none;
}


@media (max-width: 768px) {
  .contentWrapper h1 {
    font-size: 30px;
  }

  .contentWrapper p {
    font-size: 14px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
