.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.messageContainer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  padding: 50px 50px;
  border-radius: 5px;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.1);
}

.gear {
  font-size: 100px;
}

.gear {
  animation: rotateGear 15s linear infinite;
}

@keyframes rotateGear {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
