.contentWrapper h1 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
  color: #005999;
}

.contentWrapper h2 {
  color: #005999;
  margin-bottom: 10px;
}

.contentWrapper p {
  font-size: 20px;
  line-height: 2rem;
  color: black;
  margin-bottom: 25px;
}

.abButton p {
  margin-bottom: 10px;
}

.learnMore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.learnMore h3 {
  color: #005999;
}

.icons {
  align-content: center;
}

@media (max-width: 768px) {
  .contentWrapper h1 {
    font-size: 30px;
  }

  .contentWrapper p {
    font-size: 14px;
  }
}
